{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body data-media-url="{% get_media_prefix %}">
{% block content %}
<div class="body">
    <div class="body__content-form">
        <div class="body__content-set">
            <div class="bouquet">
                {% block bouquet %}
                <table>
                {% for i in range %}
                    {% if i in open_tr %}
                        <tr>
                        {% include 'bouquetset.html' %}
                    {% elif i in close_tr %}
                        {% include 'bouquetset.html' %}
                        </tr>
                    {% else %}
                        {% include 'bouquetset.html' %}
                    {% endif %}
                {% endfor %}
                </table>
            {% endblock %}
            </div>
            <div class="form">
            {% block form %}
                 <form method="post">
                    {% csrf_token %}
                        <table>
                            {{ position_form.as_p }}
                        </table>
                    <button type="submit">Принять изменения</button>
                 </form>

                <form method="post">
                    {% csrf_token %}
                        <table>
                            {{ bouquet_form.as_p }}
                        </table>
                    <button type="submit">Сохранить букет</button>
                 </form>
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

</body>
</html>



{#{% for position_id, pattern in positions.items %}#}
{#                <p>{{ position_id }} || {{ pattern }}</p>#}
{#                {% include 'bouquetset.html' %}#}
{##}
{#            {% endfor %}#}